body{
  background-color:rebeccapurple;
}
.container{
  width: 50%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(255, 255, 255, 0.377);
  position: relative;
  z-index: 99;
  border-radius: 10px;
  margin-inline: auto;
  overflow: hidden;
  
}
.box{
  width: 100%;
  height: auto;
  background-color:black;
padding: 30px;
text-align: center;
z-index: 99;

}
.box h1{
  font-size: 3rem;
  text-align: center;
  color: black;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box input{
  display: inline-block;
  width: 70%;
  padding: 10px 20px;
  border: 2px solid blue;
  font-size: 1.2rem;
}
.box button{
  padding: 10px 40px;
  font-size: 1.3rem;
  text-transform: uppercase;
margin-top: 30px;
}
.container::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50% ) rotate(45deg);
  height: 800px;
  width: 200px;
  background-color: white;
  animation: move 1.5s infinite;
  overflow: hidden; 
}
@keyframes move{
  100%{
  transform: translate(-50%,-50% ) rotate(250deg);

  }
}